<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">
    <title th:text="#{nav.history}">History</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar">...</div>
<div class="container">
    <div class="jumbotron">
        <p th:text="#{history.description}"></p>
        <ul>
            <th:block th:each="history : ${history}">
                <li><b th:text="${history.start}"> </b> <b th:if="${history.stop != 0}" th:text="to + ' ' + ${history.stop}"> </b> - <b th:text="${history.title}"></b> - <i th:utext="${history.description}"></i></li>
            </th:block>
        </ul>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>